@import url(https: //fonts.googleapis.com/css?family=Open+Sans);
@import url(https: //fonts.googleapis.com/css?family=Roboto+Slab);

body {
    background-color: #f2f2f2;
}

.fluid-docs-header,
.fluid-docs-footer {
    background-color: #323232;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    height: 7rem;
}

.fluid-docs-header {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    padding: 2.5rem 0 0 2.5rem;
}

.fluid-docs-header a {
    color: #6cf;
}

.fluid-docs-main-body {
    margin: 0;
    min-height: 40rem;
}

.fluid-docs-content {
    height: 100%;
    min-height: 40rem;
}

.fluid-docs-content h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    margin-top: 6rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
}
