@font-face {
    font-family: "OpenSans", Arial, Helvetica;
    src: url("../fonts/OpenSans-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "OpenSans-Semibold";
    src: url("../fonts/OpenSans-Semibold.ttf") format('truetype');
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("../fonts/OpenSans-Light.ttf") format('truetype');
}

@font-face {
    font-family: "RobotoSlab";
    src: url("../fonts/RobotoSlab-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "RobotoSlab-Bold";
    src: url("../fonts/RobotoSlab-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "infusion-docs";
    src:
        url("../fonts/infusion-docs.eot#iefix") format("embedded-opentype"),
        url("../fonts/infusion-docs.ttf"),
        url("../fonts/infusion-docs.eot");
}

@font-face {
    font-family: "infusion_logo";
    src:
        url("../fonts/infusion_logo.eot#iefix") format("embedded-opentype"),
        url("../fonts/infusion_logo.ttf"),
        url("../fonts/infusion_logo.eot");
}

@font-face {
    font-family: "github";
    src:
        url("../fonts/github-1.eot#iefix") format("embedded-opentype"),
        url("../fonts/github-1.ttf"),
        url("../fonts/github-1.eot");
}

html body {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.6;
}

pre {
    white-space: pre-wrap;
}

td {
    vertical-align: top;
}

.fl-prefsEditor-buttons button:focus,
.infusion-docs-TOC li a:focus .infusion-docs-TOC-pageName,
a:focus {
    outline: solid 0.2rem #008cba;
}

.infusion-docs-header a:focus,
.infusion-docs-footer a:focus {
    outline: 0.2rem solid #ffb200;
}

#skip {
    float: left;
    height: 0;
}

#skip a,
#skip a:hover,
#skip a:visited {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

#skip a:active,
#skip a:focus {
    height: auto;
    position: static;
    width: auto;
}

/* override foundation, so UIO's line-spacing will work */
.infusion-docs h1,
.infusion-docs h2,
.infusion-docs h3,
.infusion-docs h4,
.infusion-docs h5,
.infusion-docs h6,
.infusion-docs p,
.infusion-docs table tbody tr td,
.infusion-docs table tr td,
.infusion-docs ul,
.infusion-docs dl {
    line-height: inherit;
}

.infusion-docs h1,
.infusion-docs h2,
.infusion-docs h3,
.infusion-docs h4,
.infusion-docs h5,
.infusion-docs h6 {
    font-family: "RobotoSlab", serif;
}

.infusion-docs-container h1 {
    font-size: 3rem;
    margin-top: 5rem;
    padding-bottom: 4rem;
}

.infusion-docs-container h2 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.infusion-docs-container h3 {
    font-size: 2rem;
    padding-top: 2rem;
}

.infusion-docs-container h4 {
    font-size: 1.5rem;
    padding-top: 2rem;
}

.infusion-docs-container h5 {
    font-size: 1rem;
    text-decoration: underline;
}

.infusion-docs-container ul,
.infusion-docs-container ol,
.infusion-docs-container dl,
.infusion-docs-container p {
    font-size: 1.2rem;
}

/* override the above to avoid paragraphs in tables being resized inappropriately */
.infusion-docs-container tr td p {
    font-size: inherit;
}

/* Styling for the hover links on headings */

.infusion-docs .infusion-docs-anchor {
    display: hidden;
    margin-left: -2rem;
    padding-right: 4px;
}

.infusion-docs-anchor .octicon-link {
    color: #000;
    vertical-align: middle;
    visibility: hidden;
}

.infusion-docs-container a.infusion-docs-anchor:hover {
    background: inherit;
}

.infusion-docs-anchor:hover .octicon-link,
.infusion-docs-anchor:focus .octicon-link {
    visibility: visible;
}

.infusion-docs-anchor span {
    font-size: 1.7rem;
}

.infusion-docs-mainContent { /* Operates the main scrollbar for main content */
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.infusion-docs-mainContent code a:hover,
.infusion-docs-mainContent a:hover code,
.infusion-docs-container a:hover {
    background: #323232;
    color: #ffcb00;
}

.infusion-docs pre code {
    background-color: #fff;
    border: 0.1rem dotted #ddd;
    border-radius: 0.2rem;
    color: #000;
    font-size: smaller;
    font-weight: normal;
    margin-bottom: 1rem;
    padding: 0.8rem;
}

.infusion-docs dt {
    margin-left: 2em;
}

.infusion-docs dd {
    margin-left: 3em;
}

.infusion-docs-mainContent code {
    background-color: #fff;
    color: #000;
    font-size: inherit;
    font-weight: normal;
}

.infusion-docs-mainContent code a,
.infusion-docs-mainContent a code {
    background: 0;
    border-bottom: 0.1rem dotted #008cba;
    color: #008cba;
    font-size: inherit;
}

.infusion-docs table td {
    border: 1px solid #e7e7e7;
}

.infusion-docs-container .infusion-docs-header {
    background-color: #323232;
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    height: 7rem;
    line-height: 2;
    max-width: 100%;
    padding-right: 2rem;
    position: fixed;
    text-align: right;
    word-spacing: 2rem;
    z-index: 2;
}

.infusion-docs-fluidCategories {
    top: 3rem;
}

.infusion-docs-fluidLogoText::before {
    color: #ffb200;
    content: "\e606";
    font-family: "infusion_logo"; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
    font-size: 2rem;
    padding-right: 0.2rem;
    text-align: bottom;
}

.infusion-docs-container .infusion-docs-fluidLogo {
    font-family: "OpenSans-Light", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    margin-top: 2.5rem;
    text-align: left;
}

.infusion-docs-container .infusion-docs-fluidLogo a {
    color: #ffb200;
}

.infusion-docs-header nav {
    margin-top: 1rem;
}

.infusion-docs-header nav a {
    color: #fff;
}

.infusion-docs-header a:hover {
    background: #f2f2f2;
    color: #008cba;
}

.infusion-docs-header a:hover::before {
    color: #008cba;
}

.infusion-docs-category-active {
    border-bottom: 0.2rem solid #ffb200;
}

.infusion-docs-container .infusion-docs-header .infusion-docs-linkDOCS {
    color: #ffcb00;
}

.infusion-docs-container .infusion-docs-header .infusion-docs-linkDOCS:hover {
    background: none;
    color: #ffcb00;
}

.infusion-docs-TOC {
    background: #fff;
    border-top: 7rem solid;
    height: 100vh;
    min-height: 44rem;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 15rem;
    z-index: 1;
}

.infusion-docs-TOC ul {
    list-style-type: none;
}

.infusion-docs-TOC li {
    border-top: 0.1rem solid #efefef;
    padding: 0.6rem 0;
}

.infusion-docs-TOC li:first-child {
    border-top: none;
}

.infusion-docs-category {
    display: block;
    font-weight: bold;
    margin: 1.5rem 0 1rem 0;
}

.infusion-docs-sectionName {
    display: block;
    margin: 1rem 0;
}

.infusion-docs-TOC li a:focus {
    outline: none;
}

.infusion-docs-TOC li .infusion-docs-TOC-pageName {
    /* By default give each item in the TOC an active page style. */
    border-left: solid 0.2rem #ffcb00;
    display: block;
    padding-left: 0.2rem;
}

.infusion-docs-TOC li a .infusion-docs-TOC-pageName {
    /* If the TOC item is a link, then hide the active page styling */
    border: none;
    padding-left: 0;
}

.infusion-docs-container {
    background-color: #f2f2f2;
    height: 100%;
}

.infusion-docs-articleContainer {
    min-height: 70vh;
    padding-left: 17rem;
    width: 90%;
}

.infusion-docs-mainBody {
    height: 100%; /* Relies on border-box box sizing from foundation */
    margin: 0;
    padding-top: 7rem;
    position: fixed;
    width: 100%;
}

div.infusion-docs-note {
    border-color: #5db93c;
    border-left: solid;
    border-left-width: 0.3rem;
    font-style: italic;
    margin-bottom: 2rem;
    padding-left: 0.4rem;
}

/* Note style for use inside table cells */
table div.infusion-docs-note {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.infusion-docs-callout {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    font-family: "RobotoSlab", serif;
    font-size: 1.1rem;
    margin: 1rem;
    padding: 0.4rem;
    padding-left: 3rem;
    position: relative;
}

.infusion-docs-callout::before {
    color: #5db93c;
    content: "\e600";
    font-family: "infusion-docs"; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
    font-size: 2rem;
    left: 0.4rem;
    position: absolute;
    top: 0;
}

.infusion-docs-container .infusion-docs-githubLink a::before {
    content: "\e600";
    display: inline-block;
    font-family: "github"; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
    font-size: 1.3rem;
    padding-right: 0.5rem;
    vertical-align: bottom;
}

.infusion-docs-container .infusion-docs-githubLink {
    margin-bottom: 2rem;
}

.infusion-docs-articleBody > p:first-child {
    font-size: 1.4rem;
}

.infusion-docs-container .infusion-docs-navList {
    font-size: 1.1rem;
}

.infusion-docs-container .infusion-docs-paragraphBullets {
    font-size: 1.3rem;
}

.infusion-docs-container .infusion-docs-paragraphBullets li {
    padding-bottom: 0.25rem;
}

.infusion-docs-container .infusion-docs-figure,
.infusion-docs-container figure {
    margin: 0 0 1.5rem 0;
    padding-bottom: 1.1rem;
    text-align: center;
}

.infusion-docs-container .infusion-docs-figureCaption,
.infusion-docs-container figcaption {
    border-color: #f2f2f2;
    border-top: solid;
    border-top-width: 0.3rem;
    color: #4c4c4c;
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: left;
}

.infusion-docs-container .infusion-docs-footer {
    background-color: #323232;
    color: #fff;
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    margin-left: 10rem;
    max-width: 100%;
    padding-top: 2rem;
    position: absolute;
    text-align: center;
    width: 90%;
}

.infusion-docs-footer p {
    font-size: 0.8rem;
}

.infusion-docs-footer a {
    color: #ffcb00;
}

.infusion-docs-footer a:hover {
    background: #f2f2f2;
    color: #008cba;
}

.infusion-docs-footerInfusion {
    font-size: 1.2rem;
}

.fl-prefsEditor-separatedPanel {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.fl-prefsEditor-separatedPanel .fl-panelBar .fl-prefsEditor-buttons {
    margin-right: 2rem;
}

.fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide,
.fl-prefsEditor-separatedPanel .fl-prefsEditor-reset {
    font-size: 1.1rem;
    height: 2rem;
    margin-bottom: 0.7rem;
    padding-top: 0.5rem;
}

.infusion-docs-container .infusion-docs-toc h1 {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.infusion-docs.fl-text-larger .fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide,
.infusion-docs.fl-text-larger .fl-prefsEditor-separatedPanel .fl-prefsEditor-reset {
    height: 2.5rem;
}

.infusion-docs.fl-text-larger .fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide {
    min-width: 13rem;
}

/* Styles for high-contrast themes */
.fl-theme-yb .infusion-docs-fluidLogoText::before,
.fl-theme-yb .infusion-docs-callout::before {
    color: #ff0 !important;
}

.fl-theme-wb .infusion-docs-fluidLogoText::before,
.fl-theme-wb .infusion-docs-callout::before {
    color: #fff !important;
}

.fl-theme-by .infusion-docs-fluidLogoText::before,
.fl-theme-bw .infusion-docs-fluidLogoText::before,
.fl-theme-by .infusion-docs-callout::before,
.fl-theme-bw .infusion-docs-callout::before {
    color: #000 !important;
}

.fl-theme-lgdg .infusion-docs-fluidLogoText::before,
.fl-theme-lgdg .infusion-docs-callout::before {
    color: #bdbdbb !important;
}

.fl-theme-bw a:focus,
.fl-theme-bw .fl-prefsEditor-buttons button:focus,
.fl-theme-bw a:focus .infusion-docs-TOC-pageName,
.fl-theme-by a:focus,
.fl-theme-by .fl-prefsEditor-buttons button:focus {
    outline: 0.2rem solid #000 !important;
}

.fl-theme-wb a:focus,
.fl-theme-wb a:focus .infusion-docs-TOC-pageName,
.fl-theme-wb .fl-prefsEditor-buttons button:focus {
    outline: 0.2rem solid #fff !important;
}

.fl-theme-yb a:focus,
.fl-theme-yb a:focus .infusion-docs-TOC-pageName,
.fl-theme-yb .fl-prefsEditor-buttons button:focus {
    outline: 0.2rem solid #ff0 !important;
}

.fl-theme-lgdg a:focus,
.fl-theme-lgdg a:focus .infusion-docs-TOC-pageName,
.fl-theme-lgdg .fl-prefsEditor-buttons button:focus {
    outline: 0.2rem solid #bdbdbb !important;
}

/*
Focus style exception: don't have focus appear around the anchor.
Instead have it appear around the enclosed
*/
.fl-theme-bw .infusion-docs-TOC li a:focus,
.fl-theme-wb .infusion-docs-TOC li a:focus,
.fl-theme-by .infusion-docs-TOC li a:focus,
.fl-theme-yb .infusion-docs-TOC li a:focus,
.fl-theme-lgdg .infusion-docs-TOC li a:focus {
    outline: none !important;
}

.fl-theme-bw .infusion-docs-container a:hover,
.fl-theme-bw .infusion-docs-container a:hover .infusion-docs-TOC-pageName,
.fl-theme-bw .fl-prefsEditor-buttons button:hover,
.fl-theme-bw .infusion-docs-header a:hover::before {
    background: #000 !important;
    color: #fff !important;
}

.fl-theme-wb .infusion-docs-container a:hover,
.fl-theme-wb .infusion-docs-container a:hover .infusion-docs-TOC-pageName,
.fl-theme-wb .fl-prefsEditor-buttons button:hover,
.fl-theme-wb .infusion-docs-header a:hover::before {
    background: #fff !important;
    color: #000 !important;
}

.fl-theme-by .infusion-docs-container a:hover,
.fl-theme-by .infusion-docs-container a:hover .infusion-docs-TOC-pageName,
.fl-theme-by .fl-prefsEditor-buttons button:hover,
.fl-theme-by .infusion-docs-header a:hover::before {
    background: #000 !important;
    color: #ff0 !important;
}

.fl-theme-yb .infusion-docs-container a:hover,
.fl-theme-yb .infusion-docs-container a:hover .infusion-docs-TOC-pageName,
.fl-theme-yb .fl-prefsEditor-buttons button:hover,
.fl-theme-yb .infusion-docs-header a:hover::before {
    background: #ff0 !important;
    color: #000 !important;
}

.fl-theme-lgdg .infusion-docs-container a:hover,
.fl-theme-lgdg .infusion-docs-container a:hover .infusion-docs-TOC-pageName,
.fl-theme-lgdg .fl-prefsEditor-buttons button:hover,
.fl-theme-lgdg .infusion-docs-header a:hover::before {
    background: #bdbdbb !important;
    color: #555 !important;
}

/* These definitions deal with complex formatted tables with alternating rows as seen in IoCTestingFramework.md
 * They originally appeared in the Confluence wiki formatted version of the table */

/* copied from Confluence main-actions.css */
.infusion-docs-complextable,
.infusion-docs-complextable td,
.infusion-docs-complextable th {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 3px 4px;
    vertical-align: top;
}

/** Beat foundation's built-in row shading by doubling specificity **/
.infusion-docs-alt-a-row.infusion-docs-alt-a-row,
.infusion-docs-alt-a-row code {
    background-color: #fee;
}

.infusion-docs-alt-b-row.infusion-docs-alt-b-row,
.infusion-docs-alt-b-row code {
    background-color: #efe;
}

.infusion-docs-duckrow.infusion-docs-duckrow,
.infusion-docs-duckrow code {
    background-color: #eee;
}

.infusion-docs-blockcell {
    background-color: #fff;
}

.hidden {
    display: none;
}

.search-context-highlight {
    opacity: 0.5;
}

.search-context-highlight mark {
    opacity: 1;
}

.search-result-single-page {
    border-top: 1px solid #999;
}

.search-result-sub-entry {
    border-top: 1px solid #fff;
}
